DB_NAME=corelink_dev
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
IS_HAHU=FALSE
USE_SQLITE=False
SECRET_KEY=
TELEGRAM_BOT_USERNAME=corelink_auth_bot
TELEGRAM_AUTH_CALLBACK_URL=https://5301-213-55-95-211.ngrok-free.app/telegram-auth/
TELEGRAM_WEBHOOK_URL=https://5301-213-55-95-211.ngrok-free.app/telegram-webhook/
TELEGRAM_WIDGET_ALLOWED_HOSTS=5301-213-55-95-211.ngrok-free.app,corelink.et,www.corelink.et
ADDITIONAL_ALLOWED_HOSTS=5301-213-55-95-211.ngrok-free.app
ADDITIONAL_CSRF_TRUSTED_ORIGINS=https://5301-213-55-95-211.ngrok-free.app

# Email Configuration (SMTP)
EMAIL_PASSWORD=
EMAIL_HOST_USER=
EMAIL_HOST=
EMAIL_PORT=465
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=